<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intranet</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="~/lib/clockpicker/bootstrap-clockpicker.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.15.3-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/button.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--
        <script src="https://unpkg.com/microsoft/mgt/dist/bundle/mgt-loader.js"></script>
    -->

</head>
<body>
    <!--
        <mgt-msal-provider client-id="Microsoft Graph Toolkit"></mgt-msal-provider>
    -->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Intranet</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" id="overview">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="Overview">Vista de administrador</a>
                        </li>
                        <li class="nav-item" id="owncommissions">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="Index">Solicitudes propias</a>
                        </li>
                        <li class="nav-item" id="hrview">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Authorization" asp-action="HRview">HR</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav login-container">
                        <li class="nav-item" id="userrol">
                            <a class="nav-link text-dark">
                                <i class="fas fa-user-circle"></i>
                            </a>
                        </li>
                        <li class="nav-item" id="username">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Index">
                                <i class="fas fa-user"></i>
                            </a>
                        </li>
                        <li class="nav-item" id="logout">
                            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index","Home")">
                                <button id="logout" type="submit" class="nav-link btn btn-link text-dark"><i class="fa fa-power-off"></i> Logout</button>
                            </form>
                        </li>
                        <li class="nav-item" id="login">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Url.Action("Index","Home")">Login</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Intranet
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="~/lib/clockpicker/bootstrap-clockpicker.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
